# Created by .ignore support plugin (hsz.mobi)
### VisualStudioCode template
.vscode/*
!.vscode/settings.json
!.vscode/tasks.json
!.vscode/launch.json
!.vscode/extensions.json

.vscode/launch.json
.vscode/tasks.json
BrainTrainerAPI/bin
BrainTrainerAPI/obj

BrainTrainerAPI/datingapp.db

